.content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  &__text {
    margin-right: 14rem;
  }

  &__container {
    display: flex;
    align-items: center;

    img {
      border-radius: 2rem;
    }

    &:not(:last-child) {
      margin-right: 14rem;
    }

    &--right {
      margin-left: 2rem;
      article {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        img {
          height: 7rem;
          border-radius: 0;
        }

        aside {
          margin-left: 2rem;
          p {
            font-size: 1.3rem;
            color: #d4d4d4;
            width: 25rem;
            white-space: normal;
            line-height: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    &__text {
      margin-right: 14rem;
    }

    &__container {
      .brand-img {
        height: 160px !important;
        width: 160px !important;
      }
      &--right {
        margin-left: 15px;

        aside {
          p {
            max-width: 125px;
          }
        }
      }
    }
  }
}
