@import "./assets/scss/base";
@import "./assets/scss/end";
@import "./assets/scss/facts";
@import "./assets/scss/footer";
@import "./assets/scss/header";
@import "./assets/scss/hero";
@import "./assets/scss/places";
